<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
          <!-- retun arrow -->
          <div class="pt-5 " style="padding-left: 7% ;" routerLink="/admin">
            <svg type="button" xmlns="http://www.w3.org/2000/svg"   width="23" height="23" fill="currentColor" class="omh-svg" style="color :rgb(35, 13, 112);" viewBox="0 0 16 16">
              <path class="omh-path" fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Categories Creation Form</h3>
            <form  [formGroup]="addCategoryForm">
              <div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="field1"
                        class="form-control form-control-lg"
                        placeholder="Category Name"
                        [(ngModel)]="Field2"
                        formControlName="categoryNameFormControl"/>
                      <label class="form-label" for="field1" placeholder="Category name"> </label>
                    </div>
                    <div class="form-outline"  *ngIf="configurationService.isVisible(nameComponent,'Field3')">
                      <input
                        type="text"
                        id="field3"
                        class="form-control form-control-lg"
                        placeholder="field3"
                        [(ngModel)]="Field3"
                        formControlName="categoryNameFormControl"/>
                      <label class="form-label" for="field1" placeholder="field3"> </label>
                    </div>
                    <div class="form-outline"  >
                      <input
                        type="text"
                        id="field1"
                        class="form-control form-control-lg"
                        placeholder="field1"
                        type="file"
                        [(ngModel)]="Field1"
                        (change)="onFileSelected($event)"
                        formControlName="categoryNameFormControl"/>
                      <label class="form-label" for="field1" placeholder="field1"> </label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <textarea id="field3" placeholder="Description" [(ngModel)]="Field3" formControlName="categoryNameFormControl" class="form-control form-control-lg"></textarea>
                  </div>
                </div>
            </div>
              </div>

              <div class="mt-4 pt-2">
                <button class="btn my-custom-color"
                (click)="onAddProductCategory()"
                [disabled]="addCategoryForm.invalid">
                  Add Category
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- messaggio avvenuto caricamento con successo -->

<div *ngIf="showModal" class="modal" class="modal fade show" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Categoria aggiunta con successo!</h4>
        <button type="button" class="btn btn-secondary" (click)="closePopup()">Chiudi</button>
      </div>
    </div>
  </div>
</div>
